body {
	background-image: url("../images/ugur-akdemir-238673.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed, scroll; 
}

img {
    border: 1px solid #ddd;
    border-radius: 40px;
    padding: 5px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

li {
	font-size: 18px;
}

h2 {
	font-size: 40px;
}

.crystals {
	width: 170px;
	height: 170px;

}

.col-md-4 {
	margin-top: 30px;
}

.panel-body{
	height: 150px;
}

.panel-title {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

.userData {
	font-size: 20px;
}

div.jumbotron {
	background-color: #f4f2f2;
	opacity: 0.87;
}

#midRow {
	margin-left: 45px;
}

#score {
	text-align: center;
	font-size: 70px;
}

#userScore {
	text-align: center;
	font-size: 70px;	
}

#name {
	font-weight: bold;
}

#win-loss {
	font-size: 20px;
}

